@keyframes shine {
  0% {
    background-position: -50rem 0;
  }
  25% {
    background-position: -50rem 0;
  }
  100% {
    background-position: 30rem 0;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  font-size: 150%;
}

body {
  height: 100vh;
  min-height: 16rem;
  width: 100vw;
  padding: 2rem;
  overflow: hidden;
  background-image: radial-gradient(ellipse farthest-side at 40% 0%, #455a64 0%, #263238 60%, #1a2327 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 36rem;
}

.gold-text {
  font-family: "Alegreya", serif;
  font-style: italic;
  font-size: 4rem;
  word-spacing: 0.2em;
  display: inline-block;
  padding: 0;
  line-height: 1;
  white-space: nowrap;
  color: transparent;
  background-color: #e8a95b;
  background-image: radial-gradient(ellipse farthest-corner at right bottom, white 0%, #f0bb7a 20%, #e8a95b 60%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, white 0%, #f0bb7a 50%, #de9945 75%, #e8a95b 100%);
  background-size: 100% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  margin: 0 0 0.5rem 0;
}
.gold-text:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #e8a95b;
  z-index: -1;
  text-shadow: 0 -1px 0 rgb(243.75, 204, 155.25), 0 1px 0 rgb(166.5, 114.75, 51.75), 0 2px 0 rgb(155.4, 107.1, 48.3), 0 3px 0 rgb(144.3, 99.45, 44.85), 0 4px 0 rgb(122.1, 84.15, 37.95), 0 4px 2px rgb(122.1, 84.15, 37.95), 0 0.075em 0.1em rgba(26, 35, 39, 0.3), 0 0.15em 0.3em rgba(222, 153, 69, 0.2);
}
.gold-text__highlight {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.gold-text__highlight:after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-image: linear-gradient(100deg, transparent 0%, transparent 6rem, white 11rem, transparent 11.15rem, transparent 15rem, rgba(255, 255, 255, 0.3) 20rem, transparent 25rem, transparent 27rem, rgba(255, 255, 255, 0.6) 32rem, white 33rem, rgba(255, 255, 255, 0.3) 33.15rem, transparent 38rem, transparent 40rem, rgba(255, 255, 255, 0.3) 45rem, transparent 50rem, transparent 100%);
  background-clip: text;
  background-size: 60rem 100%;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  animation-name: shine;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.gold-text__highlight:before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  color: transparent;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, transparent 35%, transparent 75%, #de9945 100%);
  background-clip: text;
  -webkit-background-clip: text;
  animation-name: flash;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

.decoration-text {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.5;
  color: transparent;
  background-image: radial-gradient(ellipse at top left, #cfd8dc 0%, rgba(69, 90, 100, 0.75) 75%, transparent 100%);
  background-clip: text;
  -webkit-background-clip: text;
}

/*# sourceMappingURL=version20.css.map */
