body {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 700px;
  margin: 0 auto;

  .section-01 {
    .section-01__button {
      cursor: pointer;
      border: 0px;
      background-color: transparent;

      .arrow-wrapper {
        padding: 18px;
        border-radius: 999px;
        background-color: #d7d7d7;
        transform: translateX(0);
        /* 백그라운드 변경됏을 때 애니메이션 트랜지션 */
        transition: background cubic-bezier(0.22, 0.61, 0.36, 1) 0.3s;
        display: flex;

        img {
          /* 초기 상태 숨겨져 있는 애 */
          &:first-child {
            position: absolute;
            /* 왼쪽으로 밀어서 안보이게 해둔 상태 */
            transform: translate(-100%, 0);
            /* 애니메이션 트랜지션 */
            transition: all cubic-bezier(0.22, 0.61, 0.36, 1) 0.3s;
            filter: invert(1);
            /* 투명하게 해서 안보이게 하는 중 */
            opacity: 0;
          }

          /* 초기 상태 보여지는 애 */
          &:last-child {
            filter: invert(41%) sepia(0%) saturate(1127%) hue-rotate(182deg)
              brightness(106%) contrast(87%);
            /* 애니메이션 트랜지션 */
            transition: all cubic-bezier(0.22, 0.61, 0.36, 1) 0.3s;
          }
        }
      }

      /* 호버 시 땡그란 wrapper 색상 변경 */
      &:hover .arrow-wrapper {
        background: #ffffff;
      }

      /* 호버 시 숨겨져 있다가 원 안쪽으로 들어오면서 투명도 없앰 */
      &:hover img:first-child {
        transform: translate(5%, 0);
        opacity: 1;
      }

      /* 호버 시 오른쪽으로 밀려나며 사라짐 */
      &:hover img:last-child {
        transform: translate(100%, 0);
        opacity: 0;
      }
    }
  }

  .section-02 {
    &__button {
      position: relative;
      display: flex;
      align-items: center;
      width: fit-content;
      // width + overflow hidden 안넣으면 밑줄이 옆으로 이동은 하는데 안숨음
      overflow: hidden;

      > .arrow-wrapper {
        position: relative;
        width: 24px;
        height: 24px;
        // width + overflow hidden 안넣으면 화살표가 옆으로 이동은 하는데 안숨음
        overflow: hidden;

        img {
          position: absolute;
          transition: all 200ms ease-in-out;
          top: 0;
          left: 0;
          // 처음에 보여질 화살표
          &:first-child {
            filter: invert(1) opacity(0.5);
          }
          // 처음에 숨어있는 화살표
          &:last-child {
            filter: invert(1);
            transform: translateX(-100%);
          }
        }
      }

      // translateX(-100%)로 옆으로 숨어있음
      > .section-02__button-underline {
        position: absolute;
        width: 100%;
        height: 0.1rem;
        bottom: 0;
        transition: all 200ms ease-in-out;
        transform: translateX(-100%);
        background-color: #000000;
      }

      // hover 이벤트 스타일 정의
      &:hover {
        > .arrow-wrapper {
          img {
            // 처음에 보여지던 화살표인데 오른쪽으로 가서 숨음
            &:first-child {
              transform: translateX(100%);
            }
            // 처음에 숨어있던 화살표인데 제자리로 와서 보여짐
            &:last-child {
              transform: translateX(0);
            }
          }
        }

        // 숨어있던 밑줄이고 제자리로 와서 보여짐
        > .section-02__button-underline {
          transform: translateX(0);
        }
      }
    }
  }
}
